
body{
    margin: 0px;
}
.myHero{
    position: relative;
}
.myHero img{
    width: 100%;   
}
#buyNow{
    position: absolute;
    border: 2px solid;
    background-color: #38E54D;
    border: #82CD47;
    color: whitesmoke;
    font-size: 3vw; 
    font-family: Arial, Helvetica, sans-serif;
    bottom: 10%;
    left: 15%;
}
#buyNow:hover,
#buyNow:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}

 
/* INSTRUCTION SECTION */
.howSec{
    background-color: #E8F9FD;
}
.howto{
    display: flex;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;

}
#step1,#step2,#step3 > p{
    font-weight: bold;

}
#lineSpacer{
    width: 17%;
}
.howto p span{
    color: red;
    font-weight: bolder;
}

/* CARD STYLE */

    /* CARD HOLDER */
.cardSection{
    padding-top: 70px;
}
/* FEATURED PRODUCT TEXT */
.container h1{
    font-family: sans-serif;
    padding-bottom: 10px;
    font-weight: bold;
}
.card{
    margin-bottom: 20px;
    height: 400px;
    overflow: hidden;
    position: relative;
    
}
.card-body{
    height: 150px;
}
.card-image-top{
    height: 500px;
}
.card-text{
    height: 70%;
}
.card:hover,
.card:focus {
  box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
  transform: translateY(-0.25em);
}


/* PRICE POSTION TO BOTTOM OF CARD */
#price{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    position: absolute;
    top: 93%;
}

.addToCart{
    position: relative;
}
#price{

    position: absolute;
 
    
}
.addToCart button{
    position: absolute;
    color: rgb(190, 238, 17);
    right: 0;

}
.addToCart button:hover{
    position: absolute;
    border-color: #38E54D;
    color: rgb(190, 238, 17);
    right: 0;

}


/* RESPONSIVENESS SECTION */

@media (max-width: 993px){

  

}

@media (max-width: 770px){
    .howto{
        display: inline;
        justify-content: center;
        background-color: whitesmoke;
        padding-top: 0px;
    
    }
    #lineSpacer{
        display: none;
    }

    .container h1{
        font-family: sans-serif;
        text-align: center;
    }
    
} 

@media (max-width: 512px){

 

}
