
.myHero{
    width: 100vw;
    height: 80vh;
    background-color: rosybrown;
}
.featuredProducts{
    display: flex;
    
   
}
.ss{
    height: 500px;
    margin: 20px;
}
.card{
    margin-left: 20px;
    margin-bottom: 20px;
}





