
.myHero{
    width: 100vw;
    height: 80vh;
    background-color: rosybrown;
}
.featuredProducts{
    display: flex;
    
   
}
.cardSection{
    margin-top: 70px;
}
.card{
    margin-left: 20px;
    margin-bottom: 20px;
}




