/* begin nav */
/* .navbar{
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: black ;
}
ul li{
  display: inline-block;
  padding: 10px;
  min-width: 150px;
}

ul li a{
  text-decoration: none;
  color: #fff;
}

ul li :hover{
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-decoration: none;
  color: green;
  transition: 0.5s;
} */

.bg-default {
  background-color: #5cb85c;
}

ul li {
  min-width: 110px;
  text-align: center;
}

ul li a,
ul li a:link,
ul li a:active,
ul li a:visited {
  text-decoration: none;
  font-weight: bold;
}

ul li a:hover {
  font-weight: bolder;
  letter-spacing: 0.15rem;
  transition: 0.3s;
}
/* end nav */